<div class="row">
  <div class="col-4">
    <img class="img-fluid" src="{{ (product |async)?.image }}" alt="">
  </div>
  <div class="col-6">
    <h3>{{ (product |async)?.name }}</h3>
    <hr>
    <p>{{ (product |async)?.description }}</p>

    <ul class="list-unstyled">
      <li>This product costs <strong>R{{ (product| async)?.price }}</strong></li>
      <li>You will get <strong>R{{ (product| async)?.discount }}</strong> discount</li>
      <li>You will pay a total of <strong>R{{ (product| async)?.price - (product| async)?.discount }}</strong></li>
    </ul>

    <ng-template *ngIf="canPurchase() | async; then showBuy else hideBuy"></ng-template>
    <ng-template #showBuy>
      <a (click)="submit()" class="btn btn-primary text-light">Buy Product</a>
    </ng-template>
    <ng-template #hideBuy>
      <p>You do not have enough credit to purchase this product, You can
        <a routerLink="/profile/topups">Topup</a> You account and try again</p>
    </ng-template>
  </div>
</div>
