<div class="row">
  <div class="col-3">
    <app-sidebar></app-sidebar>
  </div>
  <div class="col-9">
    <div class="card">
      <div class="card-header bg-primary text-light">Purchase History</div>

      <div class="card-body">
        <table class="table">
          <thead>
            <tr>
              <th>Transaction Id</th>
                <th>Amount</th>
                <th>Discount</th>
                <th>Product</th>
                <th>Date</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let transaction of transactions">
              <td>{{ transaction.id }}</td>
                <td>R{{ transaction.amount }}</td>
                <td>R{{ transaction.discount }}</td>
                <td>{{ transaction.item.name }}</td>
                <td>{{ transaction.date }}</td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>
