<div class="row justify-content-center">
  <div class="col-md-8">
    <div class="card">
      <div class="card-header">Sign up</div>

      <div class="card-body">
        <form novalidate>

          <div class="form-group row">
            <label for="first_name" class="col-sm-4 col-form-label text-md-right">First Name(s)</label>
            <div class="col-md-6">
              <input id="text" type="text" class="form-control" required autofocus>
              <span class="invalid-feedback">
                <strong>validation error will be here</strong>
              </span>
            </div>
          </div>

          <div class="form-group row">
            <label for="last_name" class="col-sm-4 col-form-label text-md-right">Last Name</label>
            <div class="col-md-6">
              <input id="text" type="text" class="form-control" required autofocus>
              <span class="invalid-feedback">
                <strong>validation error will be here</strong>
              </span>
            </div>
          </div>

          <div class="form-group row">
            <label for="email" class="col-sm-4 col-form-label text-md-right">E-Mail Address</label>
            <div class="col-md-6">
              <input id="email" type="email" class="form-control" required autofocus>
              <span class="invalid-feedback">
                <strong>error will be here</strong>
              </span>
            </div>
          </div>

          <div class="form-group row">
            <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
            <div class="col-md-6">
              <input id="password" type="password" class="form-control" name="password" required>
              <span class="invalid-feedback" >
                <strong>something</strong>
              </span>

            </div>
          </div>


          <div class="form-group row mb-0">
            <div class="col-md-8 offset-md-4">
              <button type="submit" class="btn btn-primary">
                Sign up
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
